body {
    padding-top: 5rem;
}

.border{
    border-radius: 17px;
	border: 1px solid black;
}

.text-center{
	text-align: center;
}

.background{
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

.margin1{
	margin-right: 100px;
	margin-left: 200px;
}

.follow-button {
    padding-left:50px;
	padding-right:500px;
    color:#fff;
    background-color:#007bff;
    border-color:#007bff;
	margin:25px;
	position: relative;
	left: 450px;
}